*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #606060;
  position: relative;
}

.buttons {
  margin: auto;
  width: 600px;
}

.resize,
.clear,
.black,
.random {
  position: relative;
  top: 120px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
}

.resize:focus,
.clear:focus,
.black:focus,
.random:focus {
  outline: none;
}

.resize:hover,
.clear:hover,
.black:hover,
.random:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.resize:active,
.clear:active,
.black:active,
.random:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.gridContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  display: grid;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.gridCell {
  background-color: #ddd;
  border: 1px solid #000;
}
