*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #606060;
  position: relative;
}

.buttons {
  margin: auto;
  width: 600px;
}

.clear {
  position: relative;
  top: 120px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
}

.clear:focus {
  outline: none;
}

.clear:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.clear:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
/* 
.randomColor {
  position: relative;
  top: 120px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
}

.randomColor:focus {
  outline: none;
}

.randomColor:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.randomColor:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.btn-black {
  position: relative;
  top: 120px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid #000;
}

.btn-black:focus {
  outline: none;
}

.btn-black:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-black:active {
  transform: translateY(0px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
} */

.gridContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  margin: auto;
  display: grid;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.gridCell {
  background-color: #ddd;
  border: 1px solid #000;
}

.hovered {
  background-color: #000;
}

.blue {
  background-color: blue;
}
