*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #303030;
  position: relative;
}

.buttons {
  margin: auto;
  width: 600px;
}

.clear {
  position: relative;
  top: 120px;
  padding: 5px;
}

.gridContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  display: grid;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.gridCell {
  background-color: #606060;
}

.hovered {
  background-color: #000;
}
